/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

html, body{
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer{ /* rodapé*/
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  flex: 1; 
  background-color: #fff; 
}

.crescer:hover{
  transform: scale(1.3);
}

.crescer-menos:hover{
  transform: scale(1.1);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fadeInOut {
  animation: fadeInOut 3s ease forwards;
}