/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer{ /* rodapé*/
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  flex: 1; 
  background-color: #fff; 
}